.label-elemen:after{
    content:"*";
    color: red;
}
label{
    font-weight: bold;
}
.fa-star {
    color:goldenrod;
    cursor:pointer;
}
input{
    cursor:pointer;
}
#comments{
    display:flex;
}